.App {
  font-family: sans-serif;
  text-align: left;
}

.form {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

pre {
  text-align: left;
  background-color: #ccc;
  padding: 10px;
}
